
/*POZADINA TEME*/
 .forum-section{background-image:url(https://i.imgur.com/v08tVPn.png);}

/*POZADINA BIOMA*/
body{background-image:url(https://i.imgur.com/WFAlRLN.jpg)!important;}

/*BOJA BIOMA*/
.forum-section,#header-banner,#page-footer,.forum .forum-section h3 a,#page-footer a,.posts-section{
color:#cfd7e6!important;
border-color:#cfd7e6!important;}

body::-webkit-scrollbar-thumb{background:#cfd7e6!important;}

.upozorenje {
    background: transparent!important;
    border: 0px solid!important;
    color: #cfd7e6!important
}
.upozorenje {
    font-size: 22px;
    color: #cfd7e6;
    font-weight: bold;
    text-shadow: 0px 0px 5px #000000, 2px 2px black, 0px 0px 10px black;
    line-height: 25px;
    background: #00000052;
    border: 1px solid;
    padding: 10px;
}

.forum .forum-section h3 a {
    pointer-events: none;
    filter: drop-shadow(0px 0px 5px black);
    text-shadow: 4px 2px black;
}

.forum-description p {
    clear: both;
    color: #a99e8f;
    display: block;
    font-size: 18px;
    padding-top: 10px;
}

.forum-lastpost {
    display: none;
}

.forum .forum-section {
    width: 500px;
    height: 500px;
    left: 50%;
    position: relative;
    margin-left: -250px;
    border-radius: 50%;
    background-color: gray;
    background-size: cover;
    background-position: center;
    border: 10px solid #b59565;
    padding: 0px;
    margin-bottom: 150px;
}
.forum .forum-section h3 {
    padding-top: 15px!important;
    font-size: 60px;
    font-family: kaushan script;
    overflow: visible;
    height: 70px;
    width: 1000px;
    display: inline-block;
    position: relative;
    min-width: 1000px;
    margin: 0px;
}
.posts {
    margin: 200px 0px 0px 0px;
}

.forum-statistics-topics,
.forum .forum-icon,
.forum-statistics-posts,
.new-page-html,
.dzm,
.inner {
    display: none;
}
#header-banner {
    margin-bottom: 30px!important;
}

.forum .forum-description {
    position: relative;
    top: 500px;
    width: 1000px;
    text-align: center;
    margin-left: -68%;
    margin-top: 10px;
    display: block;
}
